@import "./variables";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

header {

    @include flexCenter(column);

    background: tan;
    height: 20vh;
    color: lightblue;
    button{
        background: $secondaryBtn;
        &:hover{
            background: green;
        }
    }
}